.container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--background-color);
    z-index: 0;
}

.container > button {
    position: relative;
    margin: 0;
}

.modalContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.activeModal > button {
  background-color: red;
}

.activeModal > button:hover {
  background-color: red;
}