:root {
  --primary-color: #d492c9;
  --second-color: #ff47e0;
  --text-color: #ffffff;
  --background-color: #003e8a38;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}