.container {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    max-width: 900px;
    overflow-y: scroll;
    max-height: 75vh;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid pink;
}

.container  p {
    font-size: 14px;
}

.modal {
    z-index: 2;
    text-align: center;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    opacity: 0;
    display: none;
    width: 70%;
    min-width: 150px;
    max-width: 750px;
    height: 50%;
    max-height: 1000px;
    transform: scale(0.1);
    background-color: pink;
    animation: modalEnter 0.5s ease;
    animation-fill-mode: forwards;
}

.modal > * {
    margin: 10px;
}

.modal input {
    width: 80%;
}

.modal.active {
    display: block;
    opacity: 1;
}

@keyframes modalEnter {
    0% {
    display: block;
    } 10% {
    opacity: 1;
    } 100% {
    transform: scale(1);
    }
}

.overlay {
    z-index: 1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    display: none;
    animation: overlayEnter 0.5s ease;
    animation-fill-mode: forwards;
}

.overlay.active{
    display: block;
}

@keyframes overlayEnter {
    0% {
    display: block;
    } 10% {
    opacity: 1;
    } 100% {
    background-color: rgba(0, 0, 0, 0.5);
    }
}