.barBg {
    min-width: 150px;
    width: 100%;
    max-width: 800px;
    background-color: rgba(0, 0, 0, 0.45);
    height: 40%;
    margin: 0;
}

.bar {
    background-color: var(--primary-color);
    height: 100%;
}