.container {
    display: flex;
    flex-direction: column;
    align-items: flex-center;
    height: auto;
    max-height: 50vh;
    overflow-y: scroll;
}

.skillsContainer {
    opacity: 0;
    display: none;
    top: -500px;
    border: 1px solid red;
    width: 85%;
    max-width: 900px;
}

.active {
    top: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    left: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.addButton {
    margin-top: 15px;
}

.skillContainer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}